# Contains Mediawiki 1.15 with ScratchWikiSkin-1.x.
# It can be found here:
# https://github.com/InternationalScratchWiki/ScratchWikiSkin-1.x
/app/webroot/w

# Contains Mediawiki 1.22 with ScratchWikiSkin.
# It can be found here:
# https://github.com/scratchfoundation/ScratchWikiSkin
/app/webroot/w2

# Contains Mediawiki 1.26 with my backported ScratchWikiSkin2.
# It can be found here:
# https://github.com/heathercat123/ScratchWikiSkin2-PHP5.3
/app/webroot/w3

# Patched https://app.assembla.com/spaces/scratchstats/
/app/webroot/stats

# Can be found at https://app.assembla.com/spaces/scratchforums/
/app/webroot/forums
/app/webroot/tbgforums

# Can be found at https://app.assembla.com/spaces/locale4scratchr/
/app/locale

# By default, there should be only the default icons and no projects
# The default icons are located at /app/webroot/static/rename2icons
/app/webroot/static/icons
/app/webroot/static/projects

# The temp folder
/app/tmp

# Contains database info
# To set it up, rename database.php.default and set up the values
/app/config/database.php

# Dev contains some WIP stuff that'll be added to the repo later
/app/webroot/dev

# The downloads servers
# They aren't included due to their size, but you can get part of them from here:
# https://github.com/heathercat123/ScratchDownload
/app/webroot/ScratchDownload